@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Raleway:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #f0f0f0; */
}

.margin{
    margin: 90px 0;
}

.logo{
    cursor: pointer;
}

.nav{
    width: 100%;
    padding: 20px 0;
    background-color: #002147;
    display: flex;
    align-items: center;
}

.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 8px;
    font-weight: 600;
    font-size: 14px;
}

#nav1{
    border-bottom: 1px solid white;
}

#nav2 ul{
    margin-left: 30px;
}

.hero-img img{
    width: 100%;
}

.newsLinksMain{
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
}


.news{
    background-color: #eee;
    height: 400px;
    overflow-y: scroll;
    padding: 10px 0;

}

.row{
    display: flex;
    padding: 10px;
    width: 450px;
    background-color: white;
    padding: 20px;
    margin: 5px 0;
    cursor: pointer;
    /* justify-content: space-between; */
    transition: all .5s ease;
}

.row:hover .date{
    background-color: #002147;
    color: #ffffff;
}

.row:hover{
    transform: translateY(-5px);
}

.date{
    width: 100px;
    height: 80;
    text-align: center;
    border: 1px solid #002147;
    transition: all .5s ease;
    padding: 6px;
}

.details{
    margin-left: 20px;
    padding: 0 20px;
    border-bottom: 2px solid #002147;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 3px double #002147;
}

.linksh1{
    text-align: center;
}

.imgs img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.facultiesMain{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.boxesMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 120px;
    flex-wrap: wrap;
}

.boxMain{
    margin: 10px;
    cursor: pointer;
}

.boxMain:hover img{
    transform:translateY(-10px);
    transition: all .5s ease;
}



.boxMain img{
    width: 250px;
    height: 250px;
    transition: all .5s ease;
}

.boxMain p{
    background-color: #002147;
    color: white;
    font-size: 15px;
    padding: 7px 0;
}

.academicBox{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    background-color: #f7f7f7;
    overflow: hidden;
    padding: 0px 20px 20px 20px;
    cursor: pointer;
    box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.75);
}

.academicBox .image img{
    width: 320px;
}


.academicBox .text{
    margin: 30px 0;
}

.academicBox .text h2{
    font-size: 16px;
    font-weight: 400;
}

.academicBox .text p{
    font-size: 14px;
    color: #909090;
}

.academicBox .button{
    text-transform: uppercase;
    border: 1px solid #878585;
    padding: 10px;
    cursor: pointer;
}

.academicsBoxesMain{
    display: flex;
    margin: 10px 150px;
    align-items: center;
    justify-content: space-between;
}

.academicsMain h1{
    text-align: center;
}

.onlineBox{
    width: 380px;
    background-color: #f1f1f1;
    box-shadow: 1px 1px 3px -2px rgba(0,0,0,0.75);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    border-radius: 7px;
}

.onlineBoxesMain{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.onlineBox .text{
    margin-left: 10px;
}

.icon i{
    font-size: 70px;
    color:#002147;
}

.onlineMain h1{
    text-align: center;
}

.text h3{
    color: #002147;
}

.footerMain{
    background-image: url("https://au.edu.pk/AU_New_Assets/images/footerimages/footerau.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 40px 80px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.det{
    display: flex;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.det p{
    margin: 0 10px;
}

.links li a{
    color: white;
    text-decoration: none;
}
.links li{
    list-style: none;
}

.link h4{
    text-decoration: underline;
}

.linksMain{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.link{
    margin: 0 40px;
}

.footerBar{
    background-color: #002147;
    color: white;
    padding: 20px;
    text-align: center;
}